<div class="col-xl-4 my-2">
    <div class="card">
        <div class="card-header">
            <p>{{ name }}</p>
        </div>
        <div class="card-body">
            <p>{{ description }}</p>
            <p>{{ price }}€</p>
            <a href="{{ link }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
</div>