{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
            {% include 'home/_card_products.html.twig' with
                {
                'name': product.name,
                'description': product.description,
                'price': product.price,
                'link': path('app_add_product', {id: product.id})
                }
            %}
        {% endfor %}
    </div>
 </div>
{% endblock %}
